@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(Assets/bg.jpg); 
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.55;
    background-color: black;
    position: absolute;
    top:0;  
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero > :nth-child(1) {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

.hero > :nth-child(2) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    
}

.hero > :nth-child(3) {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    
}

.seperation {
    height: 5px;
    background-color: rgb(55, 54, 54);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    background-color: rgba(53, 50, 50, 0.5);
    border: 1px solid rgba(53, 50, 50, 0.7);
    color: gray;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 16px;
    border-radius: 4px;
}

.main input {
    padding: 4px 24px;
    padding-left: 5px;
    padding-right: 50px;
    font-size: 13px;
    border-radius: 4px;
    background-color: rgba(53, 50, 50, 0.5);
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    max-width: 70vw;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    right: 0%;
    top: 50px;
    width: 555px;
}

.first :nth-child(1) {
    display: flex;
    flex-direction: column;
    padding: 34px 0px;
}
.first > div :nth-child(1) {
    font-size: 24px;
    font-weight: 900;
}

.faq h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.faq {
    color: white;
    padding: 24px
}

.faqbox:hover {
    background-color: #414141;
}

.faqbox {
    display: flex;
    background-color: rgb(54, 52, 52);
    padding: 24px;
    margin: 5px auto;
    max-width: 60vw;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.svgIcon{
    filter: invert(1);
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    
}

.questions {
    padding: 34px 0px;
    color: gray;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer a {
    color: gray;
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 18px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}

@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


